<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>    
    </head>

    <body>
        <%- include('./partials/nav.ejs') %>

        <div class="mt-4 ms-4 me-4 mb-4">
            <%- include('./partials/error.ejs') %>
            <%- include('./partials/message.ejs') %>

            <div class="text-center">
                <img
                    src="<%- profile.avatar %>"
                    <% if(profile.avatar == null) { %> style="background: rgb(156, 171, 255);" <% } %>
                    class="rounded-circle"
                    width="150" height="150"
                >
    
                <p class="fw-bold">
                    <%- profile.username %>
                    <small class="text-muted">#<%- profile.discriminator %></small>
                </p>
            </div>
        </div>
    </body>
</html>